h1
{
	couleur  :  jaune ;
}

corps
{
	couleur de fond  :  bleu ;


#  carte
{

		largeur  :   800px ;
		marge  : 0 automatique ;
		background-color  :  blanc ;
		text-align  :  center ;
		align-content  :  center ;
}
